.container {
  padding: 10px;
  align-content: center;
  width: 30%;
  word-break: keep-all;

}


img{
    float: center;
    border-radius: 25px;
    max-width: 80%;
    display: block;
      margin-left: auto;
      margin-right: auto;
}
#profile img{
  border-radius: 50%;
  width: 55%;
  display: block;
    margin-left: auto;
    margin-right: auto;
}

.hero-image {

    background-image: url("pictures/cape-town-table-mountain-wallpapers-high-definition-Is-Cool-Wallpapers.jpg");
    height: 70%;



    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
  text-align: center;
font-style: italic;
color: #9c9993;
}

table, td, th {
  vertical-align: middle;
  text-align: center;
    margin-left: auto;
    margin-right: auto;
}
