.content{

  width: 100%;
  margin-left: auto ;
  margin-right: auto ;
}

#profile img{

  border-radius: 50%;
  width: 100%;
}


.city {

  width: 50%;
  text-align: center;
  float: center;
  position: relative;
  margin-left: auto;
  margin-right: auto
}

.city img {
  width: 100%;
}



.bottom {
}

.bottom img {
  width: 96%;
  height: 30%;
}

@media (max-width: 480px) {
}

@media (min-width: 481px) {
  .bottom {
  
    border-spacing: 10px;
    border-style: solid;
    width: 30%;
    float: left;
  }
}
